*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(48, 47, 47);
}
html,
body{
    height: 100%;
    width: auto;
    overflow: hidden;
}

 .slider{
    height: 100%;
    width: 100%;
    padding: 0 192px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider i {
    color: rgb(255, 255, 255);
    scale: 2;
    padding: 20px;
    margin: -25px;
}

.slider img {
    width: 900px;
}